.containerContact {
}
.containerContact h1 {
}
.containerItems {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
.items {
  padding: 10px;
  background: rgba(255, 255, 255, 0.08);
}
.items p:hover,
.items a:hover,
.itemIconSocial:hover {
  color: #ff1433;
}
.itemTitle {
  display: flex;
  align-items: center;
}
.itemIcon {
  margin-right: 15px;
  padding: 10px;
  color: #ff1433;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.containerIconSocial {
  display: flex;
  align-items: center;
}
.itemIconSocial {
  margin-right: 8px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
