html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color:#0c0d0f;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  font-family:poppins-bold;
}
h2{
font-family: raleway-medium;
}


/*agregado de fuentes*/
@font-face{
  font-family:poppins-bold;
  src: url(../public/fonts/poppins/Poppins-Bold.ttf);
}
@font-face{
  font-family:raleway-medium;
  src: url(../public/fonts/raleway/Raleway-Medium.ttf);
}


  
