.containerMain{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  
}
.containerPresentation{
  color: #fff;
}
.presentation{
  font-size: 2.3rem;
}
.name:hover{
  color: #FF1433;
}
.profession{
  font-size: 1.3rem;
}
.imagePersonal{
  width: 80%;
}
.img{
  border-radius: 50%;
  text-align: center;
  align-self: center;
}


@media (min-width: 768px) {
  .containerMain{
    flex-direction: row;
    width: 90%;
    height: 60vh;
  }
  .containerPresentation{
    width: 60%;
  }
  .imagePersonal{
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .containerMain{
    width: 90%;
    height: 60vh;
    margin: auto;
  }
}
@media (min-width: 1300px) {
  .containerMain{
    width: 75%;
    margin: auto;
  }
  .containerPresentation{
    width: 60%;
  }
  .imagePersonal{
    width: 35%;
  }
}

  
