.containerPage{
  height: 100vh;
}
.containerMain{
  display: flex;
  justify-content: flex-end;
}
.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  
}
.containerPresentation{
  color: #fff;
}
.presentation{
  font-size: 2.3rem;
}
.name:hover{
  color: #FF1433;
}
.profession{
  font-size: 1.3rem;
}
.imagePersonal{
  width: 80%;
  height: 250px;
}
.img{
  border-radius: 50%;
  text-align: center;
  align-self: center;
}
.prueba{
  color: red;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


  
